<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="Username" value="standard_user" />
<parameter name="Password" value="secret_sauce" />
  <test thread-count="1" name="Test">
    <classes>
      <class name="com.selenium.assigment.Assignment"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
